//Keranjang
  .my-cart {
    .list-items {
      .items {
        padding: 40px 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        background-color: white;
        .product {
          position: relative;
          padding: 10px 10px;
          height: max-content;
          border: 1px solid #DEDEDE;
          .img-product {
            background-position: center !important;
            background-size: cover !important;
            border-radius: 8px;
            height: 80px;
            width: 80px;
          }
          .product-detail {
            display: flex;
            align-items: center;
            .product-description{
              padding: 0px 20px;
              font-family: "Poppins", sans-serif !important;
              h1{
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                margin: 0px;
              }
              .weight{
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                color: $red;
              }
            }
          }                 
        }      
      }
      .pricing{
        font-family: "Poppins", sans-serif !important;
        .ba-btn[type=submit]{          
          width: 100%;
          border-radius: 8px !important;
        }
        .title{
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
        }      
        .pricing-list{
          .pricing-items{
            display: flex;
            justify-content: space-between;
          }
          .sub-title{
            color: #000;
            font-size: 14px;
            line-height: 21px;
          }
          .value{
            font-size: 14px;
            line-height: 21px;
          }
          .total-value{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
          }
          li.pricing-items{
            padding: 1px 0px;
          }
        }
        .coupon{       
          input.ba-input{
            background: none;
            border: solid #000 1px;
            border-radius: 8px;
            width: 60%;
            height: max-content;
          }
          button.ba-btn{
            background: #DEDEDE !important;
            border: 1px solid #DEDEDE;
            font-size: 14px;
            line-height: 21px;
            background-color: none;          
            border-radius: 8px;
            width: 35%;
            height: max-content;
          }
        }
      }
  
    }
    .product-amount{          
      .total-price{
        color: black;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
      }
      .sub-price{
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
      }
      .control-amount{
        .ammount{
          display: inline-block;
          font-weight: 600;
          font-size: 18px;
          line-height: 10px;
          padding: 0px 8px;
        }            
      }
    } 
  }

  .sub-price{
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
  .control-amount{
    .ammount{
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 10px;
      padding: 0px 8px;
    }            
  }
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {    
    .my-cart{  
      .product-detail{
        width: 100% !important;
      }        
      .pricing{
        margin-top: 5px;
        .title{
          padding: 0px;
        }
      }
      .control-amount{
        margin-top: 3px;
        justify-content: space-between;
      }
      h1{
        padding: 0px 40px;
      }
      .product-description{
        h1{
          padding: 0px;
        }
      }
      .list-items{
        .items {
          text-align: start;
          margin: 20px 0px;
          padding: 20px 20px;
          .product{
            padding: 20px;
          }
        }
        justify-content: center;
      }
      .list-product{
        .col-lg-12{
          flex-direction: column;
        }
      }
    }
    .modal-container {
      border-radius: 8px;
      width: 250px;
    }
  }