//global custom
a {
    text-decoration: none !important;
  }
  .text-red {
    color: $red;
  }
  .barrier{
    display: inline-block;  
    width: 0px;
    height: 16.5px;  
    margin: 0px 10px;
    border: 1px solid #dedede;
  }
  hr {
    background-color: #dedede;
  }
  
// Navigation Bar
nav {
    background: #ffffff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    height: 100px;
    li {
      transition: transform ease 0.5s;
  
      a {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding: 3px 5px !important;
        border-radius: 8px;
        line-height: 21px;
        text-align: center;
        color: $black;
        margin: 0px 5px;
        &.router-link-exact-active.icon{
          background-color: unset !important;
          color: black !important;
        }
        &.router-link-exact-active{
          background-color: $red;
          color: $white;
        }
        &.page:hover {
          background-color: $red;
          color: $white;
        }
      }    
  
      &:hover {
        transform: scale(1.02);
        transition: transform ease 0.8s;
      }
    }
  }
  // Footer
  footer {
    padding: 35px 0px;
    background-color: $red;
    color: $white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    .brand {
      padding: 15px 0px;
      text-align: left;
      img {
        height: 50px;
        width: auto;
      }
    }
    .list-items {
      padding: 15px 0px;
    }
    ul {
      max-width: 321px;
      a {
        color: $white;
        font-size: 18px;
        line-height: 27px;
      }
      li {
        transition: transform ease 0.5s;
        &:hover {
          transform: scale(1.02);
          transition: transform ease 0.8s;
        }
      }
    }
  
    ul.social {
      a {
        font-size: 36px;
        line-height: 41px;
      }
    }
  
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
  }
  
// Custom Input & button
.form-control{
  border-radius: 8px !important;
}
.btn {
  border-radius: 8px !important;
}
.ba-btn {
    position: relative;
    background: $red;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    color: white;
    padding: 5px 8px;  
    span {
      font-size: 0px;
      transition: font-size ease 0.3s;
    }
    &:hover {
      span {
        font-size: 16px;
        transition: font-size ease 0.5s;
      }
    }
    &.plain-grey{
      background:none !important;
      color: $light-grey;
      border: none;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 5px 0px;
    }
    &.rounded-black.controler{
      background:none !important;
      color: black;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 4px;
      width: 20px;
      height: 20px;    
      font-weight: 600;
      font-size: 18px;
      line-height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .ba-input {
    height: 23px;
    width: 143px;
    padding: 1px 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    color: #000000;
  }
  
  .ba-input::placeholder {
    color: $light-grey;
  }
  @media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1120px !important;
    }
  }
  
  @media (min-width: 1400px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
      max-width: 1220px !important;
    }
  }